.auth-page {
    background-image: url('@/assets/images/pages/background-yihquan.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &-container {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 5px;
      max-width: 500px;
      width: 100%;
    }
  }
  